@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    background-color: black;
    font: white;
    font-family: sans-serif;
    padding: 20px;
}

div p {
    font: white;
}

body header, body div{
    margin: 20px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.movie-title {
    color: white;
    font-size: 2.5rem;
    width: auto;
    height: 50px;
    text-align: right;
    margin: 0px 30px 0px 0px;
}

/*firstSection - ('영화 이미지', '보러가기'), '기본정보'가 합쳐진 섹션*/
.firstSection {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 0;
    width: auto;
    /* border: white solid;
    border-radius: 40px; */

}

/* .summary {
    border: white solid;
    border-radius: 40px;
} */

.movie-image {
    color: white;
    background-color:rgba(255, 255, 255, 0.2);
    width: 400px;
    height: 640px;
    margin: 0px 0px 40px 0px;
    border: white solid;
    border-radius: 40px;
}

.go-and-watch {
    background-color: rgba(255, 255, 255, 0.2);
    width: 400px;
    height: 150px;
    border-radius: 40px;
    border: white solid;
    border-radius: 40px;
}

.info {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 830px;
    display: flex;
    border: white solid;
    border-radius: 40px;

}

/*secondSection - 관련영상*/
.relevant-video {
    background-color: rgba(255, 255, 255, 0.2);
    width: auto;
    height: 640px;
    margin: 10px auto 0;
    border: white solid;
    border-radius: 40px;

}

/*thirdSection - 별점리뷰*/
.rating-review {
    background-color: rgba(255, 255, 255, 0.2);
    width: auto;
    height: 800px;
    overflow: auto;
    margin: 10px auto 0;
    border: white solid;
    border-radius: 40px;
}


/* 기본정보 영역의 탭전환 메뉴 시작 */
ul.tabs{
	margin: 20px;
	padding: 0px;
	list-style: none;
}

ul.tabs li{
    display: inline-block;
	background: #898989;
	color: white;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current{
	background: #e0e0e0;
	color: #222;
}

.tab-content{
    display: none;
	background: #e0e0e0;
	padding: 12px;
}

.tab-content.current{
	display: inherit;
    overflow: auto;
}

.tab-content ul {
    list-style-type: none;
}

.tab-content img {
    margin: 0px 0px 10px 0px;
}

/* 끝 - 기본정보 영역의 탭전환 메뉴  */

/* 별점리뷰 영역의 시작 */

/*상단(쓰기 및 등록 영역)*/
.write-rating-review {
    width: auto;
    height: 300px;
	padding: 12px;
    display: flex;
    justify-content: space-between;
}

.my-profile-rating {
    display: inline;
    background-color: azure;
    width: 25%;
    /* justify-content: center; */
}

.my-profile-rating img {
    justify-content: center;
}




.my-activity {
    background-color: beige;
    width: 75%;
}

/*하단(읽기 및 조회 영역)*/
.read-rating-review {
    width: auto;
    height: auto;
    overflow: auto;
    padding: 12px;
    display: flex;
    justify-content: space-between;

}

.others-profile-rating {
    display: inline;
    background-color: azure;
    width: 25%;
}

.others-review {
    background-color: beige;
    width: 75%;
}
/* 별점리뷰 영역의 끝 */