@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    background-color: black;
    font-family: sans-serif;
    padding: 20px;
}

body header, body div{
    margin: 20px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.movie-title {
    color: white;
    font-size: 2.5rem;
    width: auto;
    height: 50px;
    text-align: right;
    margin: 0px 30px 0px 0px;
}

.movie-title h1 {
    display: inline;
    font-size: 100%;
}

.secondSection h2 {
    color: white;
}

.thirdSection h2 {
    color: white;
    margin-top: 40px;
}

/*firstSection - ('영화 이미지', '보러가기'), '기본정보'가 합쳐진 섹션*/
.firstSection {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 0;
    width: auto;
    /* border: white solid;*/
    /* border-radius: 10px;  */

}

.movie-image {
    color: white;
    background-color:rgba(255, 255, 255, 0.2);
    width: 400px;
    height: 640px;
    margin: 0px 0px 40px 0px;
    border: white solid;
    border-radius: 10px;
}

.go-and-watch {
    background-color: rgba(255, 255, 255, 0.2);
    width: 400px;
    height: 150px;
    border-radius: 10px;
    border: white solid;
}

.info {
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 830px;
    /* display: flex; */
    border: white solid;
    border-radius: 10px;

}

/*secondSection - 관련영상*/


.relevant-video {
    background-color: rgba(255, 255, 255, 0.2);
    width: auto;
    height: 640px;
    margin: 10px auto 0;
    border: white solid;
    border-radius: 10px;

}

/*thirdSection - 별점리뷰*/
.rating-review {
    background-color: rgba(255, 255, 255, 0.2);
    width: auto;
    height: auto;
    overflow: auto;
    margin: 10px auto 0;
    border: white solid;
    border-radius: 10px;
}


/* 기본정보 영역의 탭전환 메뉴 시작 */
ul.tabs{
	margin: 20px;
	padding: 0px;
	list-style: none;
    display: flex;
    justify-content: space-between;   
}

ul.tabs li{
	background: #898989;
	color: white;
    width: 25%;
    text-align: center;
	padding: 10px 15px;
	cursor: pointer;
    border-radius: 10px;   
}

ul.tabs li.current{
	background: #e0e0e0;
	color: #222;
}

.tab-content{
    display: none;
	background: #e0e0e0;
	padding: 12px;
    /* border-radius: 40px; */
}

.tab-content.current{
	display: inherit;
    overflow: auto;
}

.tab-content ul {
    list-style-type: none;
}

.tab-content img {
    margin: 0px 0px 10px 0px;
}

/* 끝 - 기본정보 영역의 탭전환 메뉴  */

/* 별점리뷰 영역의 시작 */

/*상단(쓰기 및 등록 영역)*/
.write-rating-review {
    background-color: #e0e0e0;
    width: auto;
    height: 300px;
	padding: 12px;
    display: flex;
    justify-content: space-between;
}

.write-rating-review table {
    width: auto;
    max-height: 300px;
    overflow: auto;
}

.write-rating-review th {
	width: 300px;
	table-layout: fixed;
}

.write-rating-review td {
    width: auto;
}

form div {
    margin-bottom: 14px;
}

label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}

textarea {
    background: rgba(255, 255, 255, .5);
    
    width: 920px;
    height: 170px;
    resize: none;

    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    
}

input[type="submit"] {
    float: right;
    padding-right: 30px;
}

input[type="text"] {
    width: auto;
}


input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
}


/*별점*/
.rating-star {
    display: flex;
    justify-content: center;
}

.unchangeable-rating-star {
    display: flex;
    justify-content: center;
}

.starR1{
    background: url('../images/starrate2.png') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR2{
    background: url('../images/starrate2.png') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}



/*하단(읽기 및 조회 영역)*/
.read-rating-review {
    background-color: #e0e0e0;
    width: auto;
    height: auto;
    padding: 12px;
    display: flex;
    justify-content: space-between;

}

.read-rating-review table {
    width: auto;
    border-collapse: collapse;
}

.rating-review-line {
    border-bottom: white solid;
}

.read-rating-review table img {
    margin: 40px 0px 0px 0px;
}

.read-rating-review th {
	width: 300px;
	table-layout: fixed;
}

/* 별점리뷰 영역의 끝 */